:root {
  --black: #0d0d0d;
  --white: #e5e5e5;
  --offwhite: #d9d9d9;
  --lightgrey: #424242;
  --grey: #353535;
  --accent-violet: rebeccapurple;

  --message-padding: 12px;
  --message-round: 16px;
}

@font-face {
  font-family: "Main Font";
  src: url("/assets/fonts/Machina/PPNeueMachina-PlainLight.woff2")
    format("truetype-variations");
}

body,
html {
  font-family: "Main Font", sans-serif;
  color: var(--white);
  background-color: var(--black);
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: inherit;
}

img {
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
  font-family: inherit;
}

/* ------------------------------------------- Navigation Bar */
nav {
  background-color: transparent;

  position: fixed;
  top: 0;
  left: 0;
  padding: 12px 12px 0px 12px;
  min-width: calc(100vw - 24px);

  font-size: 1em;
  color: white;
  text-transform: uppercase;
  line-height: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: top 250ms ease-out;
  z-index: 500;
  mix-blend-mode: exclusion;
}

.nav-links-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-link {
  text-decoration: none;
  text-align: center;
  font-weight: 280;
  background-color: transparent;
  transition: 400ms ease;
  color: inherit;
  margin-right: 15px;
}

.nav-link:hover {
  transition: 400ms ease;
  text-decoration: underline;
}

/* ------------------------------------------- SLIDER / SWITCH */
.switch {
  position: relative;
  width: 28px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: ease 200ms;
  transition: ease 200ms;
  outline: 2px var(--white) solid;
  border-radius: 100px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  aspect-ratio: 1/1;
  left: 2px;
  bottom: 2px;
  background-color: var(--white);
  -webkit-transition: ease 200ms;
  transition: ease 200ms;
  border-radius: 100px;
}

input:checked + .slider {
  outline: 2px var(--white) solid;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Main Content */
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 12px;
  gap: 12px;
  height: calc(100% - 32px);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.prj-cover-img {
  width: 100%;
}

.proj-cover-div {
  height: 50%;
}

.proj-text-div {
  max-height: 50%;
  overflow: scroll;
}


.proj-text-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
  padding: 16px;
  overflow: scroll;
  height: calc(50vh - calc(12px * 9));
  background-color: var(--black);
  color: white;
  font-size: 1em;
  line-height: 1.3;
  border: 1px solid var(--lightgrey);
  border-radius: 6px;
}

.proj-title-info {
  font-size: 2rem;
}

.proj-title {
  font-size: 1em;
  color: var(--offwhite);
}

.proj-author {
  font-size: 0.5em;
  color: var(--offwhite);
}

/* Text Messages */
.liss-message-right {
  max-width: 45%;
  background-color: transparent;
  align-self: end;
  display: flex;
  flex-direction: column;
}

.liss-message-left {
  max-width: 45%;
  background-color: transparent;
  align-self: start;
  display: flex;
  flex-direction: column;
  white-space: pre-line;
}

.liss-message-author-right {
  align-self: end;
  opacity: 0.4;
  line-height: 1.5;
}

.liss-message-content-right {
  background-color: rgb(74, 119, 201);
  padding: var(--message-padding);
  border-radius: var(--message-round) var(--message-round) 2px var(--message-round);
  align-self: end;
}

.liss-message-author-left {
  align-self: start;
  opacity: 0.4;
  line-height: 1.5;
}

.liss-message-content-left {
  background-color: var(--lightgrey);
  padding: var(--message-padding);
  border-radius: var(--message-round) var(--message-round) var(--message-round) 2px;
  align-self: start;
}

.end-message {
  opacity: 0.2;
  text-align: center;
  margin: 24px 0px 0px 0px;
}