<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Poses</title>
  <meta name="description" content="Explore 'Poses,' a personal project where I delve into lighting and shading techniques. As a case study." />
  <meta name="keywords" content="3D rendering, 3D design, architectural visualization, interior design rendering, product visualization, CGI services, photorealistic rendering." />
  <link rel="stylesheet" href="/public/style.css">
  <script defer src="/public/global.js"></script>
  <script src="https://unpkg.com/@studio-freight/lenis@1.0.34/dist/lenis.min.js"></script>
</head>

<body>
  <nav id="navbar">
    <a href="/" class="nav-link" aria-label="Return to Homepage">Home</a>
    <a href="/Views/about" class="nav-link" aria-label="Go to About page">About</a>
  </nav>

  <main>
    <!-- Hero -->
    <div class="header-container">
      <a class="header-text" id="showCredits">"Poses"</a>
      <p class="header-text">Personal Work</p>
      <p class="header-text">2022</p>
    </div>

    <!-- Modal -->
    <div class="modal" id="myModal">
      <div class="modal-content">
        <span class="modal-close" id="closeModal">✕</span>
        <p class="modal-title">Credits</p>

        <!-- Creative Direction + Photography -->
        <div class="modal-text-div">
          <p class="modal-info">All</p>
          <p class="modal-text">For this project everything was done by me.</p>
        </div>
      </div>
    </div>

    <!-- Lightbox -->
    <div class="lightbox backdrop-blur" id="lightbox">
      <button class="close-btn" id="close-btn">✕</button>
      <button class="prev-btn" id="prev-btn">←</button>
      <img src="" alt="Lightbox Image" class="lightbox-img" id="lightbox-img" draggable="false" loading="lazy">
      <button class="next-btn" id="next-btn">→</button>
    </div>

    <!-- Images -->
    <div class="image-container grid-three">
      <img class="project-image lightbox-trigger" id="lightbox-img" src="/projects/poses-2/assets/PosesVol2_RS_PP_Shy-1_PV_HG_Blue_001.webp" alt="" draggable="false" loading="lazy">
      <img class="project-image lightbox-trigger" id="lightbox-img" src="/projects/poses-2/assets/PosesVol2_RS_PP_Shy-1_PV_HG_Blue_002.webp" alt="" draggable="false" loading="lazy">
      <img class="project-image lightbox-trigger" id="lightbox-img" src="/projects/poses-2/assets/PosesVol2_RS_PP_Thin-1_PV_HG_Blue_014.webp" alt="" draggable="false" loading="lazy">
      <img class="project-image lightbox-trigger" id="lightbox-img" src="/projects/poses-2/assets/PosesVol2_RS_PP_Shy-1_PV_HG_001.webp" alt="" draggable="false" loading="lazy">
      <img class="project-image lightbox-trigger" id="lightbox-img" src="/projects/poses-2/assets/PosesVol2_RS_PP_Shy-1_PV_HG_002.webp" alt="" draggable="false" loading="lazy">
      <img class="project-image lightbox-trigger" id="lightbox-img" src="/projects/poses-2/assets/PosesVol2_RS_PP_Thin-1_PV_HG_014.webp" alt="" draggable="false" loading="lazy">
    </div>
  </main>
  <footer>
    <div class="footer-div">
      <p class="footer-text">© Timo Hlubek</p>
    </div>
    <div class="footer-div">
      <a href="/Views/legal/imprint/" class="footer-text" aria-label="Visit Impressum">Impressum</a>
      <a href="/Views/legal/privacy/" class="footer-text" aria-label="Visit Datenschutzerklärung">Datenschutzerklärung</a>
    </div>
  </footer>
</body>

</html>
