/* Hide on Scroll Navbar */
:root {
  --black: #070707;
  --white: #e5e5e5;
  --grey: #353535;
}

body,
html {
  font-family: "Main Font", sans-serif;
  color: var(--white);
  background-color: var(--black);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: inherit;
}

img {
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
  font-family: inherit;
}

/* ------------------------------------------- Navigation Bar */
nav {
  background-color: transparent;

  position: fixed;
  top: 0;
  left: 0;
  padding: 12px 12px 0px 12px;
  width: calc(100% - 24px);

  font-size: 1em;
  color: white;
  text-transform: uppercase;
  line-height: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: top 250ms ease-out;
  z-index: 500;
  mix-blend-mode: exclusion;
}

.nav-links-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.nav-link {
  text-decoration: none;
  text-align: center;
  font-weight: 280;
  background-color: transparent;
  transition: 400ms ease;
  color: inherit;
}

.nav-link:hover {
  transition: 400ms ease;
  text-decoration: underline;
}

/* ------------------------------------------- SLIDER / SWITCH */
.switch {
  position: relative;
  width: 28px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: ease 200ms;
  transition: ease 200ms;
  outline: 2px var(--white) solid;
  border-radius: 100px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  aspect-ratio: 1/1;
  left: 2px;
  bottom: 2px;
  background-color: var(--white);
  -webkit-transition: ease 200ms;
  transition: ease 200ms;
  border-radius: 100px;
}

input:checked + .slider {
  outline: 2px var(--white) solid;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Project Content */
.content-container {
  width: 100vw;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.content {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}