<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="/public/style.css">
  <script defer src="/public/global.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
  <script src="https://unpkg.com/@studio-freight/lenis@1.0.34/dist/lenis.min.js"></script>
</head>

<body>
  <nav id="navbar">
    <a href="/" class="nav-link">Home</a>
    <a href="/Views/about" class="nav-link">About</a>
  </nav>

  <main class="imprint-main">
    <div class="imprint-container">
      <p class="imprint-title">Impressum</p>
      <p class="imprint-text">
        Verantwortlich für den Inhalt dieser Website:
        <br><br>
        Timo Hlubek
        <br>
        <span>
          <a class="about-text" href="&#109;a&#105;l&#116;&#111;:&#116;&#105;&#109;&#111;&#104;&#108;&#117;&#57;&#56;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">Email</a>
        </span>
        <br><br>
        <span class="imprint-subtitle">Haftungsausschluss:</span>
        <br>
        Die Informationen auf dieser Website dienen nur zu Informationszwecken.
        <br>
        Ich übernehme keine Gewähr für die Richtigkeit, Vollständigkeit oder Aktualität der bereitgestellten Informationen. Die Nutzung der Website erfolgt auf eigenes Risiko.

        Ich übernehme keine Haftung für den unbefugten Gebrauch von Bildern oder anderen Inhalten, die auf dieser Website veröffentlicht sind.
        <br>
        Jegliche Nutzung oder Weiterverwendung von Bildern oder anderen Inhalten durch Dritte liegt außerhalb meiner Kontrolle und Verantwortung.
        <br><br>
        <span class="imprint-subtitle">Urheberrecht:</span>
        <br>
        Alle Inhalte dieser Website, einschließlich Texte, Grafiken, Logos, Bilder, Audio- oder Videoclips, sind urheberrechtlich geschützt und dürfen ohne vorherige schriftliche Genehmigung nicht vervielfältigt, veröffentlicht, modifiziert oder anderweitig verwendet werden.

        <br><br>
        <span class="imprint-subtitle">Gerichtsstand:</span>
        <br>
        Für alle Streitigkeiten im Zusammenhang mit dieser Website und deren Nutzung gilt ausschließlich das schweizerische Recht.
        <br><br>
        <span class="imprint-subtitle">Sprachübergreifender Hinweis:</span>
        <br>
        Diese unterseite und alle darauf enthaltenen Texte wurden in Deutsch verfasst.
        <br>
        Für Übersetzungen in andere Sprachen wird keine Garantie oder Haftung übernommen. Bei etwaigen Unklarheiten oder Missverständnissen aufgrund von Sprachbarrieren liegt die Verantwortung beim Leser, und ich übernehme keine Haftung dafür.
      </p>
    </div>
  </main>

  <footer>
    <div class="footer-div">
      <p class="footer-text">© Timo Hlubek</p>
    </div>
    <div class="footer-div">
      <a href="/Views/legal/imprint/" class="footer-text">Impressum</a>
      <a href="/Views/legal/privacy/" class="footer-text">Datenschutzerklärung</a>
    </div>
  </footer>
</body>

</html>
